<div class="container search-collapse">

  <div class="form-group">
    <div class="input-field col s12">
      <input id="artistName" type="text" class="validate" ng-model="main.query.artistName">
      <label for="artistName">Artist</label>
    </div>
  </div>

  <div class="search-select">
    <div class="form-group form-group-label genre" ng-init="main.findGenres()">
      <label for="genre">Genres</label>
      <select class="form-control" id="genre" ng-model="main.query.genre">
        <option value="[% genre.id %]" ng-repeat="genre in main.genres">[% genre.name %]</option>
      </select>
    </div>
    <div class="form-group form-group-label key">
      <label for="key">Key</label>
      <select class="form-control" id="key" ng-model="main.query.key">
        <<option value="[% key.key %]" ng-repeat="key in main.keys">[% key.value %]</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="bpm">BPM</label>
    <p class="range-field">
      <input type="range" name="range" min="0" max="128" id="bpm" ng-model="main.query.bpm" />
    </p>
  </div><br>

  <div class="button-search bot-space">
    <a ng-click="main.search()" class="waves-effect waves-light btn btn-search-collapse"><i class="material-icons left">search</i>Search</a>
  </div>
</div>
