@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Génréal */

body{
	background-color: #262626;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: flex;
    min-height: 100vh;
	flex-direction: column;
  padding-bottom: 0px !important;
}

main {
    flex: 1 0 auto;
}

h1, h3{
	color: whitesmoke !important;
	font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
}

a{
	cursor: pointer;
}

label{
	color: whitesmoke;
}



/* Material Icons */

.material-icons{
	line-height: 2.3;
}

/* Space */

.top-space{
	margin-top: 20px;
}

.bot-space{
	margin-bottom: 20px;
}


/* Navbar */

nav .brand-logo img{
	margin-top: 5px;
	margin-left:10px;
	width: 50px;
}

nav{
	background-color: #131313;
}

#icon_prefix{
  padding-left: 0;
  font-size: 14px;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 5px;
  width: 70%;
}

nav > div > ul.right.hide-on-med-and-down > li.input-field{
  margin-left: 5px;
}

.dropdown-content li:hover{
	background-color: #262626;
}

ul.right.hide-on-med-and-down > li > a:hover{
	background-color: #94d500;
}

.dropdown-content li>a,
.dropdown-content li>span{
	font-size: 14px;
	color: whitesmoke;
}

#dropdown1{
	background-color: #131313;
}

.dropdown-content li>a:hover,
.dropdown-content li>span:hover{
	color: #94d500;
	background-color: #262626;
}

.dropdown-content li>a:focus,
.dropdown-content li>span:focus{
	color: #94d500;
	background-color: #262626;
}

nav > div > a.button-collapse > i:hover{
	color: #94d500;
}

#mobile-demo{
	background-color: #131313;
	color: whitesmoke;
}

#mobile-demo > li > a{
	color: whitesmoke;
}

#mobile-demo > li > a:hover{
	color: #94d500;
}

#mobile-demo > li:hover{
	background-color: #131313;
}

#mobile-demo > ul{
	background-color: #131313;
}

#mobile-demo > ul > li > div.collapsible-header{
	background-color: #131313;
	color: whitesmoke;
}

#mobile-demo > ul > li > div.collapsible-header:hover{
	color: #94d500;
}

.side-nav .collapsible-header{
	margin: 0px;
	padding-left: 30px;
}

#mobile-demo > ul > li > div.collapsible-body > p > a:hover{
	color: #94d500;
}

#mobile-demo > ul > li > div.collapsible-body > p > a{
	color: whitesmoke;
}

.collapsible-body p{
	padding: 0rem;
	padding-left: 2rem;
	background-color: #131313;
}

/* Search */

.search{
	background-color: #373737;
	border-radius: 5px;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container > div:nth-child(1) > div > label{
  left: 0;
}

.search-select{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.key{
  width: 50%;
}

.genre{
  width: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .search{
    width: 100%;
  }
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #94d500;
    padding-left: 10px;
}

.select-wrapper > input{
	color: whitesmoke;
}

@media screen and (max-width: 600px) {
  .hidden-mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

div.container > form:nth-child(3) > p > span{
	background-color: #8bc600;
}

.button-search.bot-space > a{
	background-color: #8bc600;
}

.button-search.bot-space > a:hover{
	background-color: #94d500;
}

.pagination li.active{
  background-color: #8bc600;
}

/* Search Tools */

.dropdown-content{
	background-color: #131313;
}

div.container > div.select-wrapper > span{
	color: whitesmoke;
}

.dropdown-content > li.active{
	background-color: #262626;
}

.search .chekbox{
	margin-top: 10px;
}

.button-search{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Result */

.result{
  background-color: #373737;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.result.z-depth-1 > .container{
  width: 95%;
}

table > thead > tr > th{
  color: #90ca0a;
  text-align: center;
}

table > tbody > tr > td{
  color: whitesmoke;
  text-align: center;
}

table > tbody > tr > td > a > i{
  color: whitesmoke;
}

table > tbody > tr > td > a > i:hover{
  color: #90ca0a;
}

/* Login */

.login{
	background-color: #373737;
	border-radius: 5px;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.login > .page-header{
  text-align: center;
  padding-left: 0px;
}

.button-register.top-space > p{
  text-align: center;
  color: whitesmoke;
}

form > div > div > i{
	color: white;
}

.input-field .prefix.active{
	color: #90ca0a;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	color: whitesmoke;
	border-bottom: 1px solid #90ca0a;
    box-shadow: 0 1px 0 0 #90ca0a;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
	color: #90ca0a;
}

.button-connexion{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button-register{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button-connexion button{
	background-color: #8bc600;
}

.button-connexion button:hover{
	background-color: #90ca0a;
}

.button-register a{
	background-color: #8bc600;
}

.button-register a:hover{
	background-color: #90ca0a;
}

/* Register */

.register{
	background-color: #373737;
	border-radius: 5px;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.register > .page-header{
  text-align: center;
  padding-left: 0px;

}

form > div > div:nth-child(6) > div.input-field.col.s12{
	padding: 0px;
}

form > div > div:nth-child(6) > div.input-field.col.s12 > label{
	margin-left: -10px;
}

.container-button{
	text-align: center;
}

.button-validate{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button-cancel{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.button-validate{
	background-color: #8bc600;
}

.button-validate:hover{
	background-color: #90ca0a;
}

.button-cancel{
	background-color: #f44235;
}

.button-cancel:hover{
	background-color: #ff5722;
}

/* Footer */

footer.page-footer{
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
}

.footer-copyright{
  background-color: #131313 !important;
}

#playerFrame{
  width: 100%;
}

select {
		display:block!important;
}
